<div>
  
  <div>
    <!-- accedere a una variabile che ha un componente con un altro componente, in questo caso dal padre Data -->

    <!--<app-aiutidacasa [data]="personacheAiutadaCasa">-->
      
      <!-- sull'onclick che otteniamo le personecheaiutano cambiano nome con il suggerimento giusto -->
      <button (click)="onClick()"> Ricevi suggerimento</button>

      <!-- <p>{{personacheAiutadaCasa[0].nome}}</p> -->
  <!-- <ul>
    <li *ngFor="let aiutiDaCasa of personacheAiutadaCasa">
      {{aiutiDaCasa.nome}} - {{aiutiDaCasa.cognome}}
    </li>
    
  </ul> -->

  
    </app-aiutidacasa>
  
    <app-aiutidalpubblico>
  
    </app-aiutidalpubblico>
  
    <app-aiuto50e50>
  
      
    </app-aiuto50e50>
  </div>

  <app-punteggio [punteggio]="livello">

  </app-punteggio>
  <app-domanda [domanda]="domanda">

  </app-domanda>
  <div>
  <app-risposta *ngFor="let risp of domanda?.risposte"
  [risposta]="risp" (rispAccesa)="rispostaAccesa($event)">

  </app-risposta>

  
</div>
</div>